body {
    font-family: Arial, sans-serif;
    background-color: #d5f5e3;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.sidebar {
    background-color: #32b88b;
    padding: 20px;
    width: 200px;
    color: white;
}

.sidebar h2 {
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 10px 0;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #e6f9f2;
}

.nav-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.nav-buttons button {
    background-color: #ff5722;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.form-container {
    background-color: #f3f1f1;
    padding: 20px;
    border-radius: 10px;

}

.form-container h3 {
    margin-top: 0;
    color: rgb(3, 0, 0);
    text-align: center;
    font-style: arial;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container label {
    margin-top: 10px;
    color: rgb(3,0,0);
    font-size: large;
    font-style: italic;
}

.form-container input {
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
}

.team-members {
    display: flex;
    flex-direction: column;
}

.member {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.member input {
    margin-right: 10px;
}

.member input:last-child {
    margin-right: 0;
}

.form-container button[type="submit"] {
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}
